.btn-group{
  margin: 0 auto;
}

.mat-button{
  color: #080808;
  border: 3px black solid;
  border-radius: 5px;
  margin-left: 4px;
  margin-right: 4px;
  font-family: Arial, SansSerif;
  background-color: #d60000fa;
  size: auto;
}


