<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/main/faqs'"> Preguntas Frecuentes </a>
            <a mat-button [routerLink]="'/main/privacy'"> <br>Politica de privacidad<br>y condiciones de uso </a>
            <a mat-button [routerLink]="'/main/about'"> Contacto </a>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <mat-icon>copyright</mat-icon>
        <span style="font-size: 12px;" >FilmPool todos los derechos registrados</span>
    </mat-toolbar-row>
</mat-toolbar>
