<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
  <div class="panel">
    <header>
      <img src="https://cdn.pixabay.com/photo/2017/08/14/08/16/faq-2639673_960_720.png"
      class="img-header"
      >
    </header>
    <div class="contenido">
    <p>Preguntas más frecuentes - FAQS</p>
    <h3>¿Que és FilmPool?</h3>
    <p>FilmPool es una comunidad para personas apasionadas al cine y a las series, tanto españolas
      como extranjeras y de todas las épocas. El contenido tiene una valoracion para mostrar las más
      puntuadas y que pueda servir como forma de eleccion.</p>
   <!-- <h3>¿Quién puede ver mi información?</h3>
    <p><span style="font-weight: bold; color: red;">El perfil de la privacidad lo eliges tú mismo</span>
    será configurado como privado, semi-privado o completamente público.</p>
    <h3>¿Puedo darme de baja y eliminar mi perfil completamente?</h3>
    <p>El proceso de baja es muy sencillo: <br>
    A partir de mayo del 2018, de acuerdo con el <span style="font-weight: bold; color: red;">nuevo reglamento de GDPR,</span>disponemos un sistema
  para autocancelación de la cuenta dentro de la sección <span style="font-weight: bold; color: red;">"Mi perfil"</span><br>
  La baja de la cuenta supone la eliminación completa de la información, sin tener posibilidad de recuperación.<br>
  FilmPool <span style="font-weight: bolder;">NO CONSERVA NINGÚN DATO</span>por las cuentas dadas de baja.</p>-->
    </div>
  </div>
</body>
</html>

