<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1 style="text-align: center;">Quiénes somos</h1>
    <p>FilmPool nace a partir del Curso de Desarrollo Full Stack impartido por <span style="font-weight: bold;">IMATIA INNOVATION</span>
      a través de la plataforma de CampusDual donde se integran varias empresas 
      del sector TIC de toda Galicia</p>
     <p>La formación se está desarrollando íntegramente online y dirigida por nuestro tutor Ignacio Cossini
       desde el día 20/04/2020 hasta el día 17/07/2020 y en el cual hemos trabajado usando metodologías ágiles y usado tecnologías
       y herramientas como SQL, Eclipse, Git, Visual Studio Code, Java, Agile, Scrum, Kanban, Maven, SpringBoot, HTML5, CSS, JavaScript, 
       Angular, Node.js, npm y TypeScript.</p> 
       <p>El proyecto está desarrollado por los 3 integrantes que conformamos el Grupo 3:</p>
    <ul>
      <li>
        José Manuel Cabezas Muñoz
      </li>
      <li>
        Carlos González Hernández
      </li>
      <li>
        María Paz López Ponte
      </li>
    </ul>
    <p>El objetivo final de esta formación es capacitar a todos los alumnos en Desarrollo full stack, es decir desde
      la lógica y la parte que ejecuta el servidor (backend) hasta la parte que nuestro usuario va a poder ver (frontend)
      y también para que el usuario pueda interactuar con nuestro sitio.
      También se busca el objetivo de ser un paso más para poder incorporarse al mundo laboral en el sector TIC
      (Tecnologías de la Información y Comunicación).
    </p>
  </body>
</html>