<mat-toolbar color="primary" class="fil-head">

    <mat-toolbar-row>
        <!--button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button-->
        <div class="container-logo">

            <a href="/main/home">
                <img class="logo" src="assets/images/1.png" alt="">
                <div class="mini-logo">FilmPool</div>
            </a>
        </div>

        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/main/home'"> Inicio </a>
            <a mat-button [routerLink]="'/main/movies'">Últimas Películas </a>
            <a mat-button [routerLink]="'/main/shows'">Últimas Series </a>
            <a mat-button [routerLink]="'/main/live'">Ahora en cines </a>
            <!--a mat-button [routerLink]="'/main/releases'"> Trailers </a-->
            <app-finder></app-finder>
        </div>
    </mat-toolbar-row>


    <mat-toolbar-row>
    </mat-toolbar-row>
</mat-toolbar>
