<mat-toolbar color="primary" class="fil-head">

    <mat-toolbar-row>

        <div class="container-logo">

            <a href="/main/home">
                <img class="logo" src="assets/images/1.png" alt="">
                <div class="mini-logo">FilmPool</div>
            </a>
        </div>

        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/main/home'"> Inicio </a>
            <a mat-button [routerLink]="'/main/movies'">Últimas Películas </a>
            <a mat-button [routerLink]="'/main/shows'">Últimas Series </a>
            <a mat-button [routerLink]="'/main/live'">Ahora en Cines </a>
            <a mat-button [routerLink]="'/main/genres'">Géneros </a>
            <app-finder></app-finder>
        </div>
    </mat-toolbar-row>


    <mat-toolbar-row>
    </mat-toolbar-row>
</mat-toolbar>
