app-finder{
    float: right;
}
.fil-head {
    margin-bottom: 0px;
    background-color: #1b1919db
}
.mat-button{
    color: #080808;
    border: 3px black solid;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 4px;
    font-family: Arial, SansSerif;
    background-color: rgba(214, 0, 0, 0.98);
    size: auto;
}
.logo{
    margin-top: 80px;
    width: 100px;
    height: 100px;


}
.container-logo{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding-top: 0px;
    position: relative;
}
.mini-logo{
    position: absolute;
    right: 40px;
    bottom: -2px;
    color: rgba(214, 0, 0, 0.98);
    font-style: italic;
    font-weight: bold;
}
.hr2{
    background-color: #ff0000;
}
