<mat-toolbar color="primary" class="fil-head">

    <mat-toolbar-row>
        <!--button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button-->
        <img class="logo" src="assets/images/filmpool.png" alt="">
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/main/home'"> Inicio </a>
            <a mat-button [routerLink]="'/main/movies'">Últimas Películas </a>
            <a mat-button [routerLink]="'/main/shows'">Últimas Series </a>
            <!--a mat-button [routerLink]="'/main/releases'"> Trailers </a-->
            <app-finder></app-finder>

            <!--Llamada al filtro-->
            <app-genresfilter></app-genresfilter>


        </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span style="font-size: 12px;">Tu página de confianza!</span>
    </mat-toolbar-row>
</mat-toolbar>
