<!DOCTYPE html>
<html lang="es">
<div class="panel">
    <div class="contenido">
        <p>Los datos estarán en todo momento bajo control de máxima
            confidencialidad, y los datos jamás serán vendidos o cedidos a terceros.</p>
        <p>Tampoco habrá filtraciones de ningún tipo de información desde nuestro servidores, ya que
            utilizaremos todas las medidas de seguridad disponibles.</p>

        <p class="privacy">FilmPool te informa acerca de su Política de Privacidad respecto del tramiento
            y protección de datos de carácter personal de los usuarios que puedan ser
            recabados por la navegación o contratación de los servicios a través del sitio web www.filmpool.net</p>

        <ul>
            <li>Con la nueva regulación de la Ley de Protección de Datos GDPR (General Data Protection Regulation).
                FilmPool siempre va a disponer como valor principal el cumplimiento acerca de la protección de datos
                en todo momento con la privacidad de los datos de nuestros usuarios
            </li>
            <li>
                El tratamiento y gestión de los datos cumple completamente con lo estipulado en el Real Decreto
                994/1999, del 11 de Junio, por el que se aprueba el Reglamento de medidas de seguridad de los
                ficheros automatizados que puedan contener datos de carácter personal.
            </li>
            <li>
                FilmPool utiliza cookies. Las cookies son pequeños archivos de información que son almacenados por
                nuestro
                navegador en el disco duro del equipo, por lo que se nos permite ofrecer servicios avanzados como
                personalización.
                En nuestras cookies no contienen ningún tipo de información personal. Y si lo deseas, se pueden
                modificar las opciones
                de tú navegador y deshabilitar las cookies, pero teniendo en cuenta que las cookies deben estar
                habilitadas
                en el navegador para que FilmPool pueda realizar determinadas funciones.
            </li>
            <li>
                FilmPool tiene reservado el derecho a enviar a los usuarios notificaciones con respecto a la información
                relevante
                en cuanto a las condiciones de uso, o cambios importante o cambios que se puedan producir en la web.
            </li>
        </ul>
        <h2>CONDICIONES DE USO:</h2>
        <ul>
            <li class="objetivo">El objetivo principal de FilmPool es la fiabilidad, transparencia, imparcialidad
                y objetividad por toda la información existente en nuestro sitio web, por lo que se dispone de unos
                protocolos de control (los MISMOS para todos los usuarios) que garanticen el compromiso con la veracidad
                y la credibilidad del contenido.
            </li>
            <li>
                FilPool tiene reserva de eliminar cualquier dato (sea de forma parcial como completa), puntuaciones,
                valoraciones,
                críticas, listados sin previa notificación.
            </li>
            <li>
                Cualquier indicativo de manipulación o usos fraudulentos o indebidos de la web, es especial referente a
                puntuaciones y críticas
                de películas.
            </li>
        </ul>
    </div>
</div>
</html>
