.foto {
    border: thin;
    border-color: midnightblue;
}

.reparto {
    position: absolute;
    left: 655px;
    top: 81px;
}

.trailer {
    position: center;
    top: 100px;
}

.fecha_estreno {
    position: relative;
    left: 45px;
}