<div class="container-cell">
    <h1 fxLayout="row">{{content.content_name}}</h1>
     <div fxLayout="row">
         <div id="left-column" fxLayout="column" fxFlex="50%">
            <dl>
                <dt>Título: </dt><dd>{{content.content_name}}</dd>
                <dt>Fecha de estreno: </dt><dd>{{content.content_release_date | date}}</dd>
                <dt>País de origen: </dt><dd>{{content.content_nationality}}</dd>
                <dt>Sinopsis: </dt><dd>{{content.content_plot}}</dd>
                <dt *ngIf="content.content_type===0">Capítulos: </dt><dd *ngIf="content.content_type===0">{{content.content_duration}}</dd>
                <dt *ngIf="content.content_type===1">Duración: </dt><dd *ngIf="content.content_type===1">{{content.content_duration}} minutos</dd>
                <dt *ngIf="cast.length>0">Reparto: </dt> <dd *ngFor="let actor of cast">{{actor.cast_name}}</dd>
                <div class="valoracion">
                    <dt>Valoración:     </dt><dd>{{content.content_total_rating}} <i class="material-icons">star</i></dd>
                </div>
            </dl>
         </div>
         <div id="right-column" fxFlex="50%">
             <div class="frame">
                 <img src="{{content.content_poster_path}}" alt="" >
             </div>
         </div>
    </div>
</div>

