<o-form service="contents" entity="content" keys="content_id" keys-sql-types="INTEGER" show-header="no" show-header-navigation="no">
<o-row layout-align="left">
    <o-image attr="content_poster_path" width="300px" height="300px" show-controls="false" style="margin-top: 8px;" empty-image="assets/images/no-image.png" sql-type="OTHER" label-visible="no"></o-image>
    <o-column>
    <o-text-input attr="content_name"   sql-type="VARCHAR" label-visible="no" read-only="yes"></o-text-input>
        <h4>Sinopsis:</h4><br>
        <br><o-textarea-input attr="content_plot" label-visible="no"  rows="10"  read-only="yes"></o-textarea-input>
    </o-column>

</o-row>
<o-row layout-align="left">
    
    <o-date-input attr="content_release_date" fxFlex="20" read-only="yes" label-visible="no" ></o-date-input>


</o-row>


<o-row layout-align="center">
  <h4>Reparto:</h4>
  <br><app-cast></app-cast>
</o-row>

<o-row>


</o-row>
<o-row layout-align="center">
  <h4>Trailer:</h4>
</o-row>
<o-row layout-align="center">
    <o-text-input attr="content_trailer" enabled="no" sql-type="VARCHAR" #trailer ></o-text-input>
  <!--iframe width="560" height="315" [src]="source" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe-->
</o-row>

</o-form>
