/*.foto {
    border: thin;
    border-color: midnightblue;
}

.reparto {
    position: absolute;
    left: 655px;
    top: 81px;
}

.trailer {
    position: center;
    top: 100px;
}

.fecha_estreno {
    position: relative;
    left: 45px;
}*/

h1{
    text-align: center;
}
dt {
    float: left;
    clear: left;
    margin-right: 5px;
    font-weight: bold;
}

dd {
    margin-left: 0px;
}
.frame{
    border-radius: 20px;
    width: 240px;
    height: 360px;
    border: 3px solid black;
    background: #ffdf00;
    margin: auto;
    padding: 15px 10px;
}
img {
    width: 100%;
    height: 100%;
}
.valoracion{
    margin-top: 10px;
    font-size: large;
}
.material-icons{
    margin-top: -6px;
    margin-left: 10px;
}
