<h3>Peliculas mas valoradas</h3>
<div fxLayout="row" layout-padding fxLayoutAlign="center center">
  <o-row>
    <o-image show-controls="no" data="https://freeclassicimages.com/images/4d-Man-03-movie-poster.jpg"></o-image>
    <o-image show-controls="no" data="https://freeclassicimages.com/images/4d-Man-03-movie-poster.jpg"></o-image>
    <o-image show-controls="no" data="https://freeclassicimages.com/images/4d-Man-03-movie-poster.jpg"></o-image>
    <o-image show-controls="no" data="https://freeclassicimages.com/images/4d-Man-03-movie-poster.jpg"></o-image>
    <o-image show-controls="no" data="https://freeclassicimages.com/images/4d-Man-03-movie-poster.jpg"></o-image>
    <o-image show-controls="no" data="https://freeclassicimages.com/images/4d-Man-03-movie-poster.jpg"></o-image>
  </o-row>
</div>
<h3>Series mas valoradas</h3>
<div fxLayout="row" layout-padding fxLayoutAlign="center center">
  <o-row>
    <o-image show-controls="no" data="https://freeclassicimages.com/images/10-Days-That-Shook-The-World-1927-1A3-movie-poster.jpg"></o-image>
    <o-image show-controls="no" data="https://freeclassicimages.com/images/10-Days-That-Shook-The-World-1927-1A3-movie-poster.jpg"></o-image>
    <o-image show-controls="no" data="https://freeclassicimages.com/images/10-Days-That-Shook-The-World-1927-1A3-movie-poster.jpg"></o-image>
    <o-image show-controls="no" data="https://freeclassicimages.com/images/10-Days-That-Shook-The-World-1927-1A3-movie-poster.jpg"></o-image>
    <o-image show-controls="no" data="https://freeclassicimages.com/images/10-Days-That-Shook-The-World-1927-1A3-movie-poster.jpg"></o-image>
    <o-image show-controls="no" data="https://freeclassicimages.com/images/10-Days-That-Shook-The-World-1927-1A3-movie-poster.jpg"></o-image>
  </o-row>
</div>


