
.foto{
  max-width: 25%;
  height: auto;
  border-radius: 15px;
}
h1{
  text-align: center;
}
.container-cell{
  margin-left: 10px;
}
.dt-single {
  float: left;
  clear: left;
  margin-right: 5px;
  font-weight: bold;
}

.dd-simple {
  margin-left: 0px;
}
.imgFlag{
  margin-left: 5px;
  width: 14px;
  height: 12px;
}
.container-cell{
  margin-top: -20px;
}
